.story-block {
	@extend .u-margin-auto;
	@extend .l-max-width-text;
	@extend .u-width-100;

	@include tablet {
		padding: 0 16px;
	}

	@include phone {
		padding: 0 16px;
	}
}

.story-block--two-col {
	@extend .u-width-100;
	@extend .l-row;

	div:first-child {
		@extend .l-col;
		@extend .u-spacing-p-l;
		flex: 1;

		@include tablet {
			padding: 0
		}

		@include phone {
			padding: 0
		}
	}

	div:last-child {
		flex: 2;
	}

	&.is-flipped {
		div:first-child {
			order: 2
		}
	}

	@include tablet {
		display: block;
	}

	@include phone {
		display: block;
	}


}