.header {
	@extend .t-weight-bold;
	@extend .l-display-b;
	font-size: 112px;
	margin-bottom: 40px;
	letter-spacing: -8px;
}

.header--large {
	font-size: 160px;
}

.header--small {
	font-size: 72px;
	letter-spacing: -6px;
}