.sidepanel {
	width: 34px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: fixed;
	z-index: 9999;
	right: 16px;
}

.sidepanel__links {
	width: inherit;
	text-align: center;
	z-index: 9999;
}

.sidepanel__link {
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
	&:hover {
		svg {
			fill: $primary-color;
			&.dot {
				stroke-width: 0;	
			}
		}
	}
}