.work-block {
	@extend .l-row;
	@extend .l-row--full-height;

}

.work-block__link {
	@extend .l-col;
	@extend .l-col--expand;
	@extend .l-col--centered;
	position: relative;
	bottom: 10%;
	cursor: pointer;

}

.work-block__content {
	@extend .l-width-90;
	@extend .u-spacing-p-m;
	@extend .u-margin-auto;

}

.work-block__title {
	font-size: 112px;
	font-weight: bold;
	display: block;
	margin-bottom: 40px;
	letter-spacing: -8px;

}

.work-block__byline {
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 32px;
	display: block;
	color: #939493;
	@extend .serif;

}

.work-block__inline-icon {
	position: relative;
	top: 4px;
	left: 0;
	height: 24px;
}