@import "headings";

@import "colors";
@import "typography";
@import "layout";


@import "base";


// Components
@import "sidepanel";
@import "app-header";
@import "intro";
@import "page";
@import "header";
@import "footer";
@import "work-block";
@import "exp-section";
@import "exp-block";
@import "story";
@import "hint";
@import "button";
@import "utilities";
// @import mobile;


video {
	display: block;
	margin: 0px auto;
	width: 100%;
	&.mobile {
		max-width: 343px;
		border: 1px #f3f3f3 solid;
	}
}




svg {
	fill: #ccc;
	&.dot {
		stroke: #ccc;
		stroke-width: 8;
		&.is-selected {
			stroke-width: 0;
		}
	}
	&.is-selected {
		fill: $primary-color
	}


	.accent {
		fill: $primary-color
	}

}

a:hover {
	svg {
		fill: $primary-color
	}
}

		

.text-logo {
	font-size: 16px
}





.barba-container {
	position: relative;
	left: 0;
	opacity: 1;
	transition: 0.3s left ease, 0.3s opacity ease;

	&.is-hidden {
		left: -10px;
		opacity: 0;
	}
}

// Button

.button-group {
	margin-bottom: 32px;
	display: inline-block;
}


.img-container {
	max-width: 960px;
	margin: 0 auto 32px auto;
	> img {
		width: 100%;
	}
}


// *
// 	background: #000 !important
// 	color: #0f0 !important
// 	outline: solid #f00 1px !important

