$body-copy: #333333
$primary-color: #FF4400

*
	box-sizing: border-box

html
	-ms-touch-action: manipulation
	touch-action: manipulation


header.app-header
	height: 50px
	display: flex
	flex-direction: row
	position: fixed
	top: 0
	left: 0
	width: 100vw
	border-bottom: 1px #f3f3f3 solid
	align-items: center
	padding: 0 16px
	background: white
	background: rgba(255,255,255,0.9)
	z-index: 9999

.full-page
	display: flex
	flex-direction: row
	height: 100vh
	justify-content: center
	

.content
	display: flex
	flex-direction: column
	width: 100%
	&.intro
		justify-content: center
	&.article-list
		justify-content: center
		position: relative
		bottom: 10%
	&.detail
		padding-top: 80px

footer
	border-top: 1px #f3f3f3 solid

p + h3
	margin-top: 32px

h3:first-of-type
	margin-top: 0

.experience-block
	margin-bottom: 24px		

.constrain-width
	width: 50%
	max-width: 700px
	min-width: 375px
	padding: 16px
	padding-top: 32px
	padding-bottom: 32px 

.width-25
	width: 25%

.row
	display: flex
	flex-direction: row

.margin-auto
	margin: 0 auto


.byline .icon
	position: relative
	top: 12px

svg
	fill: #ccc
	&.dot
		stroke: #ccc 
		stroke-width: 8
		&.is-selected
			stroke-width: 0
	&.is-selected, .accent, &.link:hover
		fill: $primary-color
	



		


// Text Styles


// Base classes

body
	@extend .sans
	color: $body-copy

a
	color: $body-copy
	text-decoration: none

h3
	font-size: 18px
	font-weight: bold
	@extend .serif

video
	max-width: 343px
	display: block
	margin: 0 auto
	margin-bottom: 32px

.sans
	font-family: 'Noto Sans', sans-serif

.serif
	font-family: 'Noto Serif', serif

.label
	font-size: 12px
	margin-bottom: 16px
	text-transform: uppercase
	display: block

.title
	font-size: 112px
	font-weight: bold
	display: block
	margin-bottom: 24px
	letter-spacing: -8px

.intro
	.title
		font-size: 160px
	.byline
		margin-bottom: 80px

.byline
	font-size: 24px
	line-height: 1.5
	margin-bottom: 32px
	display: block
	color: #939493
	@extend .serif

.body-copy, p
	font-size: 18px
	line-height: 28px
	margin-bottom: 16px
	@extend .serif

.text-logo
	font-size: 16px


.bold
	font-weight: bold

ul 
	padding: 16px

ul>li
	font-size: 14px
	line-height: 28px
	margin-bottom: 8px
	list-style-type: disc
	@extend .serif



nav.pagination
	width: 14px
	position: fixed
	right: 24px
	top: 40%
	text-align: center
	z-index: 9999
	svg
		margin-bottom: 30px
		cursor: pointer
		&:hover
			fill: $primary-color
			&.dot
				stroke-width: 0





// Button

.button-group
	margin-bottom: 32px
	display: inline-block

.button
	font-size: 14px
	&.button-filled
		display: inline-block
		font-size: 12px
		font-weight: bold
		padding: 10px 10px
		background: #F5F5F5
		border-radius: 5px
		color: $body-copy


// Timeline

.timeline
	padding: 24px 0
	.row
		margin-bottom: 8px

.timeline-label
	font-size: 12px
	width: 90px

.timeline-bar-container
	width: calc(100% - 90px)

.timeline-bar
	height: 12px
	width: 100%
	background: #f3f3f3
	border-radius: 6px
	&.color-1
		background: #F8C236
	&.color-2
		background: #00CDCB
	&.color-3
		background: #FF7E7E
	&.color-4
		background: #B472EF
	&.width-50
		width: 50%



// Utilities

.u-d-block
	display: block

.u-text-center
	text-align: center

.u-margin-right-m
	margin-right: 32px

.u-pull-right
	float: right
