<div class="sidepanel">
	<nav class="sidepanel__links">
		<a class="sidepanel__link hint--left" aria-label="Back to top" href="#intro">
			<svg class="is-selected" viewBox="0 0 100 100" width="10" height="10">
				<use xlink:href="assets/images/sprites.svg#circle"></use>
			</svg>
		</a>

		<a class="sidepanel__link hint--left" aria-label="PPM" href="#ppm">
			<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
				<use xlink:href="/assets/images/sprites.svg#circle"></use>
			</svg>
		</a>

		<a class="sidepanel__link hint--left" aria-label="CommerceIQ" href="#commerceiq">
			<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
				<use xlink:href="assets/images/sprites.svg#circle"></use>
			</svg>
		</a>

		<a class="sidepanel__link hint--left" aria-label="Carol.ai" href="#carol">
			<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
				<use xlink:href="assets/images/sprites.svg#circle"></use>
			</svg>
		</a>

		<a class="sidepanel__link hint--left" aria-label="MyChoice" href="#mychoice">
			<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
				<use xlink:href="/assets/images/sprites.svg#circle"></use>
			</svg>
		</a>

		<a class="sidepanel__link hint--left" aria-label="Mallia" href="#mallia">
			<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
				<use xlink:href="/assets/images/sprites.svg#circle"></use>
			</svg>
		</a>

		<a class="sidepanel__link hint--left" aria-label="Experience" href="#experience">
			<svg viewBox="0 0 100 100" width="14" height="14">
				<use xlink:href="/assets/images/sprites.svg#doc-icon"></use>
			</svg>
		</a>
	</nav>
</div>