<html>
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="barba-wrapper">
		<div class="barba-container">
		<div class="sidepanel">
			<nav class="pagination">
				<a class="scroll-link hint--left" aria-label="Back to top" href="#intro">
					<svg class="dot is-selected" viewBox="0 0 100 100" width="10" height="10">
						<use xlink:href="assets/images/sprites.svg#circle"></use>
					</svg>
				</a>

				<a class="scroll-link hint--left" aria-label="Fluig Data" href="#fluigdata">
					<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
						<use xlink:href="assets/images/sprites.svg#circle"></use>
					</svg>
				</a>

				<a class="scroll-link hint--left" aria-label="Pensieve" href="#pensieve">
					<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
						<use xlink:href="assets/images/sprites.svg#circle"></use>
					</svg>
				</a>

				<a class="scroll-link hint--left" aria-label="Divvy" href="#divvy">
					<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
						<use xlink:href="assets/images/sprites.svg#circle"></use>
					</svg>
				</a>

				<a class="scroll-link hint--left" aria-label="MyChoice" href="#mychoice">
					<svg class="dot" viewBox="0 0 100 100" width="10" height="10">
						<use xlink:href="assets/images/sprites.svg#circle"></use>
					</svg>
				</a>

				<a class="scroll-link hint--left" aria-label="Experience" href="#experience">
					<svg viewBox="0 0 100 100" width="14" height="14">
						<use xlink:href="assets/images/sprites.svg#doc-icon"></use>
					</svg>
				</a>
			</nav>
		</div>
		

		<div class="full-page">
			<div class="content intro">
				<div>
					<div class="constrain-width margin-auto half-width u-text-center intro" id="intro">
						<span class="title">Chinwei laa</span>
						<!-- <span class="byline">I care about designing useful and delightful products</span> -->
						<span class="byline">Classical guitar player and photography enthusiast. Currently a UX Designer at TOTVS Labs.</span>



						<span class="button-group">
							<a href="https://www.linkedin.com/in/chinweiw" class="u-margin-right-m scroll-link hint--bottom" aria-label="Reach out on linkedIn" target="_blank">
								<svg class="link" viewBox="0 0 100 100" width="18" height="18">
									<use xlink:href="assets/images/sprites.svg#linkedin"></use>
								</svg>
							</a>
							<a class="scroll-link hint--bottom" href="#experience" aria-label="View my experience">
								<svg class="link" viewBox="0 0 100 100" width="18" height="18">
									<use xlink:href="assets/images/sprites.svg#doc-icon"></use>
								</svg>
							</a>
						</span>
						
					</div>
				</div>		
				
			</div>
		</div>
		<div class="full-page" id="fluigdata">
			<a href="works/fluigdata/" class="content article-list page-link">
				<div class="row">
					<div class="constrain-width margin-auto">
							<!-- <span class="label">TOTVS Labs</span> -->
							<span class="title">Fluig Data</span>
							<span class="byline">An end-to-end data exploration platform
								<svg class="icon" width="40" height="40">
									<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
								</svg>
								</span>
							

							
						</div>
					
				</div>
				
			</a>
		</div>


		<div class="full-page" id="pensieve">
			<a href="works/pensieve/" class="content article-list page-link">
				<div class="constrain-width margin-auto">
					<!-- <span class="label">Side Project</span> -->
					<span class="title">Pensieve</span>
					<span class="byline">Write notes and associate them with people
						<svg class="icon" width="40" height="40">
							<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
						</svg>
					</span>
				</div>
			</a>
						
		</div>


		<div class="full-page" id="divvy">
			<a href="works/divvy/" class="content article-list page-link">
				<div class="constrain-width margin-auto">
						<!-- <span class="label">Side Project</span> -->
						<span class="title">Divvy</span>
						<span class="byline">The fastest way to split bills at the table
							<svg class="icon" width="40" height="40">
								<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
							</svg>
							</span>
						</div>
					</a>
				
			</div>
		


		<div class="full-page" id="mychoice">
			<a href="works/mychoice/" class="content article-list page-link">
				<div class="constrain-width margin-auto">
						<!-- <span class="label">Capstone Project</span> -->
						<span class="title">MyChoice</span>
						<span class="byline">Extending healthcare beyond hospital walls
							<svg class="icon" width="40" height="40">
								<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
							</svg>
						</span>
					</div>
				
			</a>
		</div>



		<div class="content">
			<div class="constrain-width margin-auto" id="experience">
					<span class="title">Experience</span>
					<div class="button-group">
						<a href="/assets/cv.pdf" target="_blank" class="button button-filled">
							Download as PDF
						</a>
					</div>

		<!-- 			<div class="article-header">
					    <span class="title">Experience</span>
					</div> -->
					
					<div class="experience-block constrain-width half-width">
						<span class="label">
							TOTVS Labs (Sep 2014 - Present)
						</span>
						<p class="bold">
							UX Designer
						</p>
						<ul>
							<li>
								Defined the appearance and behavior of user interface components and their states across the product. Created engineering specifications using Sketch, Zeplin and Invision Inspect.
							</li>
							<li>
								Defined flow and interactions across the product and built prototypes in Adobe XD, Invision, Framer Studio and HTML/CSS/JS to communicate with engineering and product team as well as stakeholders.
							</li>
							<li>
								Created and prioritized tasks based on business goals. Conducted Sprint planning, demos, retrospective sessions to foster communication and improve feedback loop within the team.
							</li>
						</ul>
					</div>

					<div class="experience-block constrain-width half-width">
						<span class="label">
							Capstone project for UPMC (Jan 2014 - Aug 2014)
						</span>
						<p class="bold">
							User Experience Lead
						</p>
						<ul>
							<li>
								Worked with the University of Pittsburgh Medical Center over eight-months for our capstone project to develop a patient-centered solution for hypertension patients.
							</li>
							<li>
								Conducted user research activities such as interviews, diary studies, home visits to better understand the challenges patients encounter day to day.
							</li>
							<li>
								Designed, built, tested and iterated on prototypes, from paper prototypes to a hybrid app running on Android devices.
							</li>
						</ul>
					</div>
		
					<div class="experience-block constrain-width half-width">
						<span class="label">
							Mint Interactive (Mar 2011 - Jun 2013)
						</span>
						<p class="bold">
							UI Designer / Developer
						</p>
						<ul>
							<li>
								Worked with clients across numerous industries including retail, manufacturing and hospitality to execute their digital campaigns and expand their web presence.
							</li>
							<li>
								Designed websites and other digital marketing collateral in Adobe Creative Suite (Photoshop, Fireworks, Illustrator).
							</li>
							<li>
								Built the user interface and interactivity for digital projects in HTML/CSS/JS/Actionscript.
							</li>
						</ul>
					</div>
		
		
					<div class="experience-block constrain-width half-width">
						<span class="label">
							Mixed Reality Lab (Sep 2010 - Dec 2010)
						</span>
						<p class="bold">
							User Research Intern
						</p>
						<ul>
							<li>
								Conducted domain and user research for multiplayer game installation designed to help bond intergenerational family members.
							</li>
							<li>
								Designed the user interface for a software mimicking human conversation using artificial inteligence.
							</li>
						</ul>
					</div>


					<!-- <h4>Education</h4> -->

					<div class="experience-block constrain-width half-width">
						<span class="label">
							Carnegie Mellon University (Completed Aug 2014)
						</span>
						<p class="bold">
							Master in Human-Computer Interaction
						</p>
					</div>



					<div class="experience-block constrain-width half-width">
						<span class="label">
							National University of Singapore (Completed 2010)
						</span>
						<p class="bold">
							Bachelor of Science (Chemistry)
						</p>
					</div>
				</div>
			
		</div>

		{{ partial "footer.html" . }}
		<footer>
			<div class="constrain-width margin-auto u-text-center">
				<p>Thanks for reading!</p>
			</div>
		</footer>
		</div>
		
	</body>
</html>




   

<!-- 




ico

Improve write up for FD
Style detail pages
figure out how to minify everything
update resume
record gomix prototype





 -->