<html>
	<head>
		{{ partial "head.html" . }}
		{{ partial "header.html" . }}
	</head>
	<body>

		<div class="full-page">
			<div class="content intro">
				<div class="intro-content-block">
					<div class="constrain-width margin-auto">
						<span class="title">Chinwei Wong</span>
						<span class="byline">User Interface, User Experience, Product</span>
						<span class="button-group">
							<a href="#" class="button button-filled">
								LinkedIn
							</a>
							<a href="#" class="button button-filled">
								View Experience
							</a>
						</span>
						
					</div>
				</div>		
				
			</div>
		</div>
		<div class="full-page" id="fluigdata">
			<div class="content article-list">
				<div class="row">
					<div class="constrain-width margin-auto">
							<span class="label">TOTVS Labs</span>
							<span class="title">Fluig Data</span>
							<span class="byline">End-to-end Data Discovery Platform</span>
							<a href="works/fluigdata/" class="button">
								Explore Work
							</a>
						</div>
					
				</div>
				
			</div>
		</div>


		<div class="full-page" id="diary">
			<div class="content article-list">
				<div class="constrain-width margin-auto">
						<span class="label">Side Project</span>
						<span class="title">Moment</span>
						<span class="byline">Context Aware Diary</span>
						<a href="works/diary/" class="button">
							Explore Work
						</a>
					</div>
				
			</div>
		</div>


		<div class="full-page" id="splitbill">
			<div class="content article-list">
				<div class="constrain-width margin-auto">
						<span class="label">Side Project</span>
						<span class="title">Split Bill</span>
						<span class="byline">Split bills without signing up</span>
						<a href="works/splitbill/" class="button">
							Explore Work
						</a>
					</div>
				
			</div>
		</div>


		<div class="full-page" id="mychoice">
			<div class="content article-list">
				<div class="constrain-width margin-auto">
						<span class="label">Carnegie Mellon University Capstone Project</span>
						<span class="title">MyChoice</span>
						<span class="byline">Extending healthcare beyond hospital walls</span>
						<a href="works/mychoice/" class="button">
							Explore Work
						</a>
					</div>
				
			</div>
		</div>



		<div class="content">
			<div class="constrain-width margin-auto">
					<span class="title">Experience</span>
					<div class="button-group">
						<a href="#" class="button button-filled">
							Download as PDF
						</a>
					</div>
					
					<div class="experience-block">
						<span class="label">
							TOTVS Labs (Sep 2014 - Present)
						</span>
						<p class="bold">
							UX Designer
						</p>
						<ul>
							<li>Defined the UX, designed, prototyped and built the UI for a data+AI platform from scratch. Sucessfully acquired first external customer in US.</li>
							<li>Defined the UI/UX for an iOS contacts management app built on top of the data platform</li>
							<li>Partial PM role for platform + iOS app</li>
						</ul>
					</div>
		
					<div class="experience-block">
						<span class="label">
							Mint Interactive
						</span>
						<p class="bold">
							UI Designer / Developer
						</p>
						<ul>
							<li>Designed, wireframed, prototyped and built user</li>
							<li>interfaces for web and mobile platforms.</li>
							<li>Managed projects involving multiple agencies, both</li>
							<li>local and international.</li>
							<li>Created information architecture and navigation flows</li>
							<li>for client projects to improve user experience.</li>
						</ul>
					</div>
		
		
					<div class="experience-block">
						<span class="label">
							KEIO-NUS CUTE CENTER
						</span>
						<p class="bold">
							User Research Intern
						</p>
						<ul>
							<li>Conducted domain and user research for</li>
							<li>multiplayer game installation designed to help bond</li>
							<li>intergenerational family members.</li>
							<li>Designed interfaces for a software mimicking human</li>
							<li>conversation using artificial inteligence.</li>
						</ul>
					</div>



					<div class="experience-block">
						<span class="label">
							Carnegie Mellon University (Completed Aug 2014)
						</span>
						<p class="bold">
							Master in Human-Computer Interaction
						</p>
					</div>

					<div class="experience-block">
						<span class="label">
							National University of Singapore (Completed 2010)
						</span>
						<p class="bold">
							Bachelor of Science (Chemistry)
						</p>
					</div>
				</div>
			
		</div>

		{{ partial "footer.html" . }}
		
	</body>
</html>


