<html>
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="barba-wrapper">
		<div class="barba-container home">
		
		{{ partial "sidepanel.html" . }}

		<div class="intro">
			<div class="intro__content" id="intro">

				<div class="intro__header">Chinwei</div>

				<p>Hi! I'm a product designer based in Mountain View, California. I believe design helps everyone works more efficiently. I'm currently building an <a href="/works/carol/" class="u-color-accent">end-to-end data discovery platform</a> at <a target="_blank" href="http://totvslabs.com/" class="u-color-accent">TOTVS Labs</a>. I graduated with a Masters in Human-Computer Interaction from Carnegie Mellon, and in a previous life <a target="_blank" href="http://mintinteractive.sg" class="u-color-accent">built web experiences</a> for global brands like UPS, Allergen, Legrand and Fuji Xerox.</p>
					
				<div class="intro__controls">
					<span class="button-group">
						<a href="https://www.linkedin.com/in/chinweiw" class="u-margin-r sidepanel__link hint--bottom" aria-label="Reach out on linkedIn" target="_blank">
							<svg class="link" viewBox="0 0 100 100" width="18" height="18">
								<use xlink:href="assets/images/sprites.svg#linkedin"></use>
							</svg>
						</a>
						<a class="sidepanel__link hint--bottom" href="#experience" aria-label="View my experience">
							<svg class="link" viewBox="0 0 100 100" width="18" height="18">
								<use xlink:href="assets/images/sprites.svg#doc-icon"></use>
							</svg>
						</a>
					</span>
					
				</div>

					</div>
		</div>
		
		<div class="work-block" id="carol">
			<a href="/works/carol/" class="work-block__link">
				<div class="work-block__content">
					<span class="work-block__title">
						Carol.ai
						<span class="work-block__date">2017</span>
					</span>
					<span class="work-block__byline">An end-to-end data exploration platform
						<svg class="work-block__inline-icon" width="40" height="40">
							<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
						</svg>
					</span>
				</div>
				
			</a>
		</div>

		<div class="work-block" id="mychoice">
			<a href="/works/mychoice/" class="work-block__link">
				<div class="work-block__content">
						<span class="work-block__title">
							MyChoice
							<span class="work-block__date">2014</span>
						</span>
						<span class="work-block__byline">Extending healthcare beyond hospital walls
							<svg class="work-block__inline-icon" width="40" height="40">
								<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
							</svg>
						</span>
					</div>
			</a>
		</div>

		<div class="work-block" id="mallia">
			<a href="/works/mallia/" class="work-block__link">
				<div class="work-block__content">
						<span class="work-block__title">
							Mallia
							<span class="work-block__date">2013</span>
						</span>
						<span class="work-block__byline">Express yourself like never before
							<svg class="work-block__inline-icon" width="40" height="40">
								<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
							</svg>
						</span>
					</div>
			</a>
		</div>

		<div class="work-block" id="divvy">
			<a href="/works/divvy/" class="work-block__link">
				<div class="work-block__content">
				<span class="work-block__title">
					Divvy
					<span class="work-block__date">2017</span>
				</span>
				<span class="work-block__byline">The fastest way to split bills at the table
					<svg class="work-block__inline-icon" width="40" height="40">
						<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
					</svg>
					</span>
				</div>
			</a>
		</div>

		<div class="work-block" id="pensieve">
			<a href="/works/pensieve/" class="work-block__link">
				<div class="work-block__content">
						<span class="work-block__title">
							Pensieve
							<span class="work-block__date">2016</span>
						</span>
						<span class="work-block__byline">Write notes and associate them with people
							<svg class="work-block__inline-icon" width="40" height="40">
								<use class="accent" xlink:href="assets/images/sprites.svg#arrow-right-icon"></use>
							</svg>
						</span>
					</div>
				
			</a>
		</div>

			
		
		<div class="exp-section">
			<div class="exp-section__content" id="experience">
					<span class="exp-section__header">Experience</span>
					<div class="exp-section__controls">
						<a href="/assets/cv.pdf" target="_blank" class="button button--filled">
							Download as PDF
						</a>
					</div>

					
					<div class="exp-block">
						<span class="exp-block__company">
							TOTVS Labs (Sep 2014 - Present)
						</span>
						<p class="exp-block__position">
							UX Designer
						</p>
						<ul>
							<li>
								Defined the appearance and behavior of user interface components and their states across the product. Created engineering specifications using Sketch, Zeplin and Invision Inspect.
							</li>
							<li>
								Defined flow and interactions across the product and built prototypes in Adobe XD, Invision, Framer Studio and HTML/CSS/JS to communicate with engineering and product team as well as stakeholders.
							</li>
							<li>
								Created and prioritized tasks based on business goals. Conducted Sprint planning, demos, retrospective sessions to foster communication and improve feedback loop within the team.
							</li>
						</ul>
					</div>

					<div class="exp-block">
						<span class="exp-block__company">
							Capstone project for UPMC (Jan 2014 - Aug 2014)
						</span>
						<p class="exp-block__position">
							User Experience Lead
						</p>
						<ul>
							<li>
								Worked with the University of Pittsburgh Medical Center over eight-months for our capstone project to develop a patient-centered solution for hypertension patients.
							</li>
							<li>
								Conducted user research activities such as interviews, diary studies, home visits to better understand the challenges patients encounter day to day.
							</li>
							<li>
								Designed, built, tested and iterated on prototypes, from paper prototypes to a hybrid app running on Android devices.
							</li>
						</ul>
					</div>
		
					<div class="exp-block">
						<span class="exp-block__company">
							Mint Interactive (Mar 2011 - Jun 2013)
						</span>
						<p class="exp-block__position">
							UI Designer / Developer
						</p>
						<ul>
							<li>
								Worked with clients across numerous industries including retail, manufacturing and hospitality to execute their digital campaigns and expand their web presence.
							</li>
							<li>
								Designed websites and other digital marketing collateral in Adobe Creative Suite (Photoshop, Fireworks, Illustrator).
							</li>
							<li>
								Built the user interface and interactivity for digital projects in HTML/CSS/JS/Actionscript.
							</li>
						</ul>
					</div>
		
		
					<div class="exp-block">
						<span class="exp-block__company">
							KEIO-NUS CUTE Center (Sep 2010 - Feb 2011)
						</span>
						<p class="exp-block__position">
							User Research Assistant
						</p>
						<ul>
							<li>
								Conducted domain and user research for multiplayer game installation designed to help bond intergenerational family members.
							</li>
							<li>
								Designed the user interface for a software mimicking human conversation using artificial intelligence.
							</li>
						</ul>
					</div>

					<div class="exp-block">
						<span class="exp-block__company">
							Carnegie Mellon University, 2014
						</span>
						<p class="exp-block__position">
							Master in Human-Computer Interaction
						</p>
					</div>



					<div class="exp-block">
						<span class="exp-block__company">
							National University of Singapore, 2010
						</span>
						<p class="exp-block__position">
							Bachelor of Science (Chemistry)
						</p>
					</div>
				</div>
			
		</div>

		
		
			<footer class="footer">
				<div class="footer__content">
					<span>Thanks for reading!</span>
				</div>
			</footer>

		</div>

		

		{{ partial "footer.html" . }}
		




<script>

		

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47084204-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>