<html>
	<head>
		{{ partial "head.html" . }}
	</head>

	<body id="barba-wrapper">
		<div class="content detail barba-container">
			<header class="app-header">
				<a href="/">
					<svg class="icon" width="40" height="40">
			            <use class="accent" xlink:href="/assets/images/sprites.svg#arrow-left-icon"></use>
			        </svg>
				</a>
			</header>
			<div class="content-container margin-auto constrain-width full-width">
			    {{ .Content }}
			</div>
			<footer>
				<div class="constrain-width margin-auto u-text-center">
					<p>Thanks for reading!</p>
				</div>
			</footer>

		</div>

		{{ partial "footer.html" . }}

		

		




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47084204-1', 'auto');
  ga('send', 'pageview');

</script>

	</body>
</html>


