<html>
	<head>
		{{ partial "head.html" . }}
	</head>

	<body id="barba-wrapper">
		<div class="content detail barba-container">
			<header class="app-header">
				<a href="/">
					<svg class="icon" width="40" height="40">
			            <use class="accent" xlink:href="/assets/images/sprites.svg#arrow-left-icon"></use>
			        </svg>
				</a>
			</header>
			<div class="row">
				<a href="/" class="width-25"></a>
			    <div class="constrain-width">
				    {{ .Content }}
			    </div>
			    <div class="width-25"></div>
			</div>
		</div>
		{{ partial "footer.html" . }}

	</body>
</html>


